.header {
    width: 100%;
    height: 10vh;
    background: url("./../../assets/img/background.jpg");
    background-size: contain;
    padding: 25px 0 0 0;
}

.header img {
    width: 50px;
    height: 50px;
}